<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ошибочка вышла =(</title>
    <link rel="icon" href="/static/favicon.jpg">
    <style>
        .centered {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
    <div class="centered">
        <h1>{{ .Error }}</h1>
        <video src="/static/sadcat.mp4" autoplay loop></video>
    </div>
</html>