{{define "footer.gohtml"}}
  <footer>
    <div class="footer">
      <hr style="margin-bottom: 0">
      <p style="margin-bottom: -3px">Copyright © 2024-2025</p>
      <p>Mikhail Kondrashin, Arsenii Kuznetsov, Egor Ermolov</p>
    </div>
  </footer>
{{end}}
